.resume-site{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.resume-site-left{
  width: 50vw;
  height: 40vh;
  background-color:whitesmoke;
}

.resume-site-right{
  width: 50vw;
  height: 40vh;
  background-color: #33373d;
}

.nav-bar{
  background-color: #b1b6bd;
  width: 80vw;
  height: 10vh;
  border-radius: 5vh;
  z-index: 1;
  margin-left: -40vw;
  margin-right: -40vw;
  margin-top: -25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
}

.logo{
	color: orangered;
	transform: scale(2);
}

span:hover{
	color: orangered;
}

i:hover{
	color: orangered;
	font-family: 'Beau Rivage', cursive;
}

.download-cv{
	background: orangered;
	color: white;
	border: none;
	border-radius: 25px;
	width: 12vw;
	height: 6vh;
	font-size: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Comfortaa:wght@400;500&family=Ubuntu+Condensed&display=swap');